In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

WARNING:tensorflow:From C:\Users\mzain\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
data = pd.read_csv('heart.csv')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [3]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [4]:

X = data.iloc[:,:13].values
y = data["target"].values

In [5]:
X_train,X_test,y_train, y_test = train_test_split(X,y,test_size = 0.3 , random_state = 0 )

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [7]:
classifier = Sequential()

classifier.add(Dense(activation = "relu", input_dim = 13, 
                     units = 8, kernel_initializer = "uniform"))
classifier.add(Dense(activation = "relu", units = 14, 
                     kernel_initializer = "uniform"))
classifier.add(Dense(activation = "relu", units = 1, 
                     kernel_initializer = "uniform"))
classifier.compile(optimizer = 'adam' , loss = 'binary_crossentropy', 
                   metrics = ['accuracy'] )

WARNING:tensorflow:From C:\Users\mzain\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\mzain\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [8]:
classifier.fit(X_train , y_train , batch_size = 8 ,epochs = 20  )

Epoch 1/20
WARNING:tensorflow:From C:\Users\mzain\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\mzain\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

90/90 [==============================] - 1s 3ms/step - loss: 1.8403 - accuracy: 0.4937
Epoch 2/20
90/90 [==============================] - 0s 2ms/step - loss: 0.7770 - accuracy: 0.5607
Epoch 3/20
90/90 [==============================] - 0s 2ms/step - loss: 0.4415 - accuracy: 0.7992
Epoch 4/20
90/90 [==============================] - 0s 2ms/step - loss: 0.4325 - accuracy: 0.8257
Epoch 5/20
90/90 [==============================] - 0s 2ms/step - loss: 0.4196 - accuracy: 0.8271
Epoch 6/20
90/90 [==============================] - 0s 2ms/step - loss: 0.4142 - accuracy: 0.8354
Epoch 7/20
90/90 [==============================] - 0s 2ms/step - loss: 0.4081 - accuracy: 0.8396
Epoch 8/20
90/90 [==============================] - 0s 2ms/step - loss: 0.4033 - accuracy: 0.8452
Epoch 9/20
90/90 [==============================] - 0s 2ms/step - loss: 0.3987 - accuracy: 0.8424
Epoch 10/20
90/90 [==============================] - 0s 2ms/step - loss: 0.3955 - accuracy: 0.8424
Epoch 11/20
90/90 [==============================] - 0s 2ms/step - loss: 0.3918 - accuracy: 0.8438
Epoch 12/20
90/90 [==============================] - 0s 2ms/step - loss: 0.3837 - accuracy: 0.8424
Epoch 13/20
90/90 [==============================] - 0s 2ms/step - loss: 0.3789 - accuracy: 0.8480
Epoch 14/20
90/90 [==============================] - 0s 2ms/step - loss: 0.3726 - accuracy: 0.8438
Epoch 15/20
90/90 [==============================] - 0s 2ms/step - loss: 0.3692 - accuracy: 0.8382
Epoch 16/20
90/90 [==============================] - 0s 2ms/step - loss: 0.3596 - accuracy: 0.8466
Epoch 17/20
90/90 [==============================] - 0s 2ms/step - loss: 0.3770 - accuracy: 0.8229
Epoch 18/20
90/90 [==============================] - 0s 2ms/step - loss: 0.3759 - accuracy: 0.8368
Epoch 19/20
90/90 [==============================] - 0s 2ms/step - loss: 0.3534 - accuracy: 0.8368
Epoch 20/20
90/90 [==============================] - 0s 2ms/step - loss: 0.3457 - accuracy: 0.8605

In [214]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

10/10 [==============================] - 0s 1ms/step

In [215]:

cm = confusion_matrix(y_test,y_pred)
cm

array([[124,  21],
       [ 12, 151]], dtype=int64)

In [216]:

accuracy = (cm[0][0]+cm[1][1])/(cm[0][1] + cm[1][0] +cm[0][0] +cm[1][1])
print(accuracy*100)

89.28571428571429

In [221]:
input_data = (50,1,2,129,196,0,1,163,0,0,2,0,2)

In [222]:

input_data_as_numpy_array= np.asarray(input_data)


input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
print(input_data_reshaped)
input_data_reshaped = sc.transform(input_data_reshaped)

print(input_data_reshaped)

prediction = classifier.predict(input_data_reshaped)
prediction = (prediction > 0.5)
print(prediction)
if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[[ 50   1   2 129 196   0   1 163   0   0   2   0   2]]
[[-0.49913193  0.65226323  1.02564169 -0.15340021 -0.96474421 -0.42111744
   0.92419637  0.59723284 -0.7004602  -0.92695319  0.9790949  -0.73793656
  -0.51108759]]
1/1 [==============================] - 0s 21ms/step
[[ True]]
The Person has Heart Disease